{{#> views/layouts/main}}
<link rel="stylesheet" href="/assets/css/analysis.css">
<div class="analysis">
  <h1>მოიძიეთ ინფორმაცია ტანკებზე</h1>
  <div class="wrapper">
    <div class="option">
      <input checked="" value="bm-21" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bm-21</span>
      </div>
    </div>
    <div class="option">
      <input value="bmd-2" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmd-2</span>
      </div>
    </div>
    <div class="option">
      <input value="bmp-1" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmp-1</span>
      </div>
    </div>
    <div class="option">
      <input value="bmp-2" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmp-2</span>
      </div>
    </div>
    <div class="option">
      <input value="btr-70" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">btr-70</span>
      </div>
    </div>
    <div class="option">
      <input value="btr-80" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">btr-80</span>
      </div>
    </div>
    <div class="option">
      <input value="mt-lb" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">mt-lb</span>
      </div>
    </div>
    <div class="option">
      <input value="t-64" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-64</span>
      </div>
    </div>
    <div class="option">
      <input value="t-72" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-72</span>
      </div>
    </div>
    <div class="option">
      <input value="t-80" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-80</span>
      </div>
  </div>
</div>

<main>
<img src="" alt="" class="tank-image" width="800" height="450">
 <div class="infoContainer">
      <p></p>
    </div>
    </main>
{{/views/layouts/main}}
<script src="/js/analysis.js"></script>
     {{!-- button color --}}
    <script>
function changeActive() {
    // Remove "active" class from all elements with the class "active"
    var activeElements = document.getElementsByClassName("active");
    for (var i = 0; i < activeElements.length; i++) {
        activeElements[i].classList.remove("active");
    }
    // Add "active" class to the element with the ID "home"
    var analysisElement = document.getElementById("analysis");
    analysisElement.classList.add("active");
}
window.onload = changeActive;
    </script>
