{{#> views/layouts/main}}
<div class="analysis">
  <h1>მოიძიეთ ინფორმაცია ტანკებზე</h1>
  <div class="wrapper">
    <div class="option">
      <input checked="" value="bm-21" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bm-21</span>
      </div>
    </div>
    <div class="option">
      <input value="bmd-2" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmd-2</span>
      </div>
    </div>
    <div class="option">
      <input value="bmp-1" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmp-1</span>
      </div>
    </div>
    <div class="option">
      <input value="bmp-2" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">bmp-2</span>
      </div>
    </div>
    <div class="option">
      <input value="btr-70" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">btr-70</span>
      </div>
    </div>
    <div class="option">
      <input value="btr-80" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">btr-80</span>
      </div>
    </div>
    <div class="option">
      <input value="mt-lb" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">mt-lb</span>
      </div>
    </div>
    <div class="option">
      <input value="t-64" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-64</span>
      </div>
    </div>
    <div class="option">
      <input value="t-72" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-72</span>
      </div>
    </div>
    <div class="option">
      <input value="t-80" name="btn" type="radio" class="input" />
      <div class="btn">
        <span class="span">t-80</span>
      </div>
    <!-- Add more options as needed -->

   
  </div>
</div>

 <div class="infoContainer">
      <p></p>
    </div>
{{/views/layouts/main}}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM content loaded');
    const options = document.querySelectorAll('.input');
    const infoContainer = document.querySelector('.infoContainer p');

    // Define text for each tank
    const tankText = {
      'bm-21': `БМ-21 "Град" — საბჭოთა 122 მმ. ზალპური ცეხლრეაქტიული სისტემა, რომელიც შეიქმნა 1960-იანი წლების დასაწყისში.
122 მმ ზალპური ცეცხლრეაქტიული სისტემა შეიქმნა 1963 წელს ხოლო შეიარაღებაში მიიღეს 1964 წელს,მას უნდა ჩაენაცვლებინა 140 მმ BM-14. შეთავსებული იყო Урал-375Д ტიპის სამხედრო მანქანაზე და შეეძლო გაესროლა რაკეტა. ძრავად ეყენა 180 ცხენის ძალიანი ბენზინის ძრავა რომლის მაქსიმალური სისწრაფე 75 კმ საათი იყო და შეეძლო დაეფარა 750 კმ. 1976 წელს შეუცვალეს შასი და დააყენეს უფრო თანამედროვე Урал-4320 სამხედრო მანქანაზე. ეკიპაჟი 5 სამხედროსგან შედგებოდა რომლების 3 წუთში სრულ მზადყოფნაში მოყავდა ეს სისტემა გასროლა შესაძლებელი იყო საერთო მანქანის კაბინიდან,40 რაკეტის გასროლა ხდებოდა დაახლოებით 20 წუთში. გასროლის შემდეგ შეეძლო ადგილი დაეტოვებინა 2 წუთში, რაკეტების მაქსიმალური სროლის სიშორე 21 კმ იყო მაგრამ იყო ძალიან არა ზუსტი.`,
      'bmd-2': `БМД-2 «Будка» (საბრძოლო სადესანტო მანქანა 2) — საბჭოთა მცურავი საბრძოლო მანქანა რომელიც შეიქმნა БМД-1 ის ბაზაზე და იყო სამხედრო სადესანტო მანქანა.მისი დესანტირება შეუძლია Ан-12, Ан-22 და Ил-76.მა უნდა ჩაენაცვლებინა მისი წინა მორბედი БМД-1 თუმცა გადაწყვეილება ვერ განხორციელდა რადგან 1980 წელს საბჭოთა ეკონომიკა კრიზისში იყო.NATO-მ კი მიანიჭა მას სახელი BMD M1981/1.
განვითარება
საბჭოთა არმია ავღანეთის ომში მასობრივად იყენებდა ქვეთთა საბრძოლო მანქანს BMP-1 - ს და სამხედრო სადესანტო მანქანას BMD-1-ს რომლებიც შეიარაღებულნი იყვნენ 73 მმ ქვემეხით 2A28 "Grom" რომელიც გამოირჩეოდა ნელი სწრაფ სროლით ასევე შეიარაღებაში ჰქონდათ ტანკ საწინააღმდეგო 9M14 "Malyutka" (და მისი მოდიფიკაციები 9M14M "Malyutka-M",9M14P "Malyutka-P") ასევე ჰქონდათ 7.62მმ PKT ტიპის ტყვიამფრქვევები ეს კი იყო ძალიან საშიში დაჯავშნული ტექნიკისთვის თუმცა ავღანელებს საერთოდ არ გააჩნდათ დაჯავშნული ტექნიკა და ეს შეიარაღება სრულიად არ იყო საჭირო ომში. 1981 წელს ავღანეთის ომში გაგზავნეს ახალი ქვეითთა საბრძოლო მანქანა BMP-2 რომელსაც მისი წინამორბედი BMP-1 ისგან განსხვავებით გააჩნდა 30 მმ 2A42 ქვემეხი რომელიც "Grom"გან განსხვავებით უფრო სწრაფად ისროდა ასევე მოხდა ტანკსაწინააღმდეგო იარაღების შეცვლა და დაუყენეს 9M113 Konkurs,9M113M "Konkurs-M,9M111 "Fagot",9M111-2 "Fagot" რომელიც უფრო ეფექტიანი იქნებოდა ავღანურ რელიეფზე. ბე-ემ-პე 2-ის მსგავსად მოდერნიზაცია ჩაუტარეს BMD-1ს და მიიღო ახალი სახელწოდება BMD-2,ახალ სადესანტო მანქანას ჰქონდა 30მმ 2A42 ტიპის ატომატურ ქვემეხი ასევე ეს ქვემეხი დაუყენეს BMD-3 - ს`,
      'bmp-1': `BMP-1 არის სრულიად ამფიბიური ქვეითთა საბრძოლო მანქანა, მას ძრავა წინ გააჩნია, კოშკურა შუაში ხოლო დესანტის განყოფილება უკან. ბეემპეს მძღოლს სამი TNPO-170 პერესკოპი აქვს, მისი შეცვლა TVNO-2 ღამის ხედვის ხელსაწყოთიც შეიძლება, მეთაურს TKN-3B ბინოკლი გააჩნია. ასევე მის განკარგულებაში R-123M რადიო შედის. მსროლელს, რომლის პოზიცია კოშკურიდან შედარებით მარცხნივ მდებარეობს, გააჩნია 1PN22M1 პერისკოპული სამიზნე, ასევე 1PN22M1 სამიზნე რომელსაც ღამის ხედვის რეჟმიში მაქსიმალური მანძილი 400 მეტრი აქვს, ხოლო ჩვეულებრივ რეჟიმში 900 მეტრი.

ბმპ-1 ის ძირითად შეიარაღებას წარმოადგენს 73 მილიმეტრიანი 2A28 ნახევრად ავტომატური ქვემეხი. მისი საბრძოლო მარაგი 40 გასროლაა და სროლის საშუალო ტემპი 8-10 გასროლა წუთში. მის ჭურვს შეუძია გახვრიტოს 60-იანი წლების ნატოს ქვეყნების წარმოების ტანკები, მათ შორის მ48 და ლეოპარდ 1 ტანკების წინა ჯავშანი, ბეემპეს ასევე გააჩნია 7.62 მილიმეტრიანი ტყვიამფრქვევი "პკტ" რომლის საბრძოლო მარაგიც 2000 ტყვიას შეადგენს.

ასევე ბეემპეს შეიარღებაში შედის 9M14 Malyutka რაკეტა, მისი საბრძოლო მარაგია 4 რაკეტა, მისი გამოყენება ღამით შეუძლებელია რადგან მას არ გააჩნია ღამის ოპტიკა, ასევე რაკეტის მართვა გამოუცდელი ეკიპაჟისთვის საკმაოდ რთულია და ბევრ ვარჯიშს მოითხოვს.

ბმპ-ს დესანტს 8 ჯარისკაცი წარმოადგენს, თუმცა უნდა აღინიშნოს რომ მანქანაში დესანტისთვის დიდი ადგილა არაა, ამიტომ სრულიად ეკიპირებული ჯარისკაცისათვის ბეემპედან დესატირება არ არის მარტივი.

BMP-1-ს საშუალო დონის მობილურობა ახასიათებს, მას 300 ცხენისძალიანი ძრავი გააჩნია, მაქსიმალური სიჩქარე ხმელეთზე 65 კილომეტრი საათშია ხოლო წყალში 8 კილომეტრი საათში, მას თავისუფლად შეუძია უგზოობაზე, თოვლში და წყალზე გადაადგილება.

მიუხედავად იმისა რომ დოქტრინულად ბმპ-ს დანიშნულება ქვეითთა მხადაჭერაა, მისი ჯავშანი არ გამოირჩევა ამტანობით, თუმცა ჯავშანის ხარისხი დამოკიდებულია მწარმოებელ ქვეყანაზე და გამოშვების წელზე. ჩანაფიქრში ბეემპეს წინა ჯავშანს უნდა გაეძლო ავტომატური ქვემეხების ჭურვებისათვის, ეს ზოგ შემთხვევაში ასეც იყო, მაგალითან 1973 წლის ოქტომბრის ომის დროს ბეემპეს წინა ჯავშანმა შესძო 12.7 მილიმეტრიანი ტყვიების შეჩერება, თუმცა უკანა და გვერდითა ჯავშანს ასეთი შესაძლებლობები არ გააჩნდათ. 1991 წლის სპარსეთის ყურის ომის დროს ამერიკული მ2 ბრედლი ქვეითთა საბრძოლო მანქანები ადვლად ანადგურებდნენ ერაყულ ბმპ-1-ებს 25 მილიმეტრიანი ქვემეხის ჯავშანგამტარი ჭურვებით. `,
      'bmp-2': `BMP-2 (Boyevaya Mashina Pekhoty, რუს. Боевая Машина Пехоти, სიტყვასიტყვით "საბრძოლო მანქანა/სატრანსპორტო საშუალება (ქვეითთა")[4] არის ამფიბიური ქვეითთა ​​საბრძოლო მანქანა, რომელიც შემოვიდა 1980-იან წლებში საბჭოთა კავშირში, შემდგომში. 1960-იანი წლების BMP-1. მიუხედავად იმისა, რომ BMP-1 იყო რევოლუციური დიზაინი, მისი მთავარი შეიარაღება, 2A28 Grom და 9S428 ATGM გამშვები, რომელსაც შეუძლია სროლა 9M14 Malyutka (NATO: AT-3A Sagger A) და 9M14M Malyutka-M (NATO: AT-3B Sagger B) ATGM, სწრაფად მოძველდა. ამიტომ საბჭოთა კავშირმა გადაწყვიტა BMP-1-ის განახლებული და გაუმჯობესებული ვერსიის წარმოება. ძირითადი აქცენტი გაკეთდა ძირითადი შეიარაღების გაუმჯობესებაზე. 1972 წელს დაიწყო მუშაობა BMP-1-ის გაუმჯობესებული ვერსიის შემუშავებაზე.

იომ კიპურის ომში საბრძოლო დებიუტის დროს ეგვიპტური და სირიული BMP-ები დაუცველი აღმოჩნდა გვერდებზე და უკანა მხარეს 50 კალიბრის ტყვიამფრქვევის და 106 მმ-იანი M40 უკუცემი თოფების მიმართ. 2A28 Grom აღმოჩნდა არაზუსტი 500 მეტრის მიღმა და 9M14 Malyutka რაკეტა ვერ იმართებოდა ეფექტურად კოშკის საზღვრებიდან.

ომის ფონზე სირიაში რამდენიმე საბჭოთა ტექნიკური ჯგუფი გაგზავნეს ინფორმაციის მოსაგროვებლად. ამ გაკვეთილებმა, დასავლეთის AFV-ის განვითარებაზე დაკვირვებებთან ერთად, გამოიწვია ორიგინალური BMP-ის ჩანაცვლება 1974 წელს. შედეგი იყო BMP-1P განახლება, რომელიც გამიზნული იყო როგორც შეჩერება არსებული დიზაინის ყველაზე სერიოზული პრობლემების გადასაჭრელად.

კოშკურის უკანა მხარეს დაემატა კვამლის ყუმბარმტყორცნები და ხელით მართვადი 9M14 Malyutka სარაკეტო სისტემა შეიცვალა ნახევრად ავტომატური მართვადი 9K111 Fagot / 9M113 Konkurs სისტემით. BMP-1P წარმოებაში იყო 1970-იანი წლების ბოლოს. არსებული BMP-1 თანდათანობით განახლდა BMP-1P სტანდარტამდე 1980-იან წლებში.`,
      'btr-70': 'БТР-70 — საბჭოთა 8 ბორბლიანი ჯავშანტრანსპორტიორი (ინგლ. armored personnel carrier; რუს. бронетранспортер). მისი პირველი განვითარება მოხდა 1960 წელს. 1972 წლის 21 აგვისტოს მიიღეს შეიარაღებაში, ცოტა ხნის შემდეგ კი გადასცეს ვარშავის ხელშეკრულების ქვეყნებს და ასევე საბჭოთა კავშირის მოკავშირეებს. მისი პირველი წარდგენა მოხდა, მანამ, სანამ მის წინამორბედ БТР-60-ს წარადგენდნენ, რომელიც ძალიან ჰგავდა (БТР-60პბ) БТР-70-ს. განსხვავება კი იყო, რომ მას ჰქონდა გაძლიარებული ჯავშანი და დამატებული ჰქონდა 2 გვერდიდან გამოსასვლელი კარები. თუმცა იყო პატარა ზომის და ხშირად ბორბლებში ვარდებოდნენ ხოლმე. БТР-60-ის მძიმე ტყვიამფრქვევი და მსუბუქი ტყვიამფრქვევი, ПКТ კი იგივე დაუტოვეს. მისი ამფიბიური შესაძლებლობები ძალიან ცოტა იყო. რუმინელებმა БТР-70-ის ლიცენზირებული გამოშვება (ТАБ-77) დაიწყეს.',
      'btr-80': `BTR-80 (რუს. бронетранспортёр, რომანიზებული: bronetransportyor, განათებული 'ჯავშნიანი გადამზიდავი') არის 8×8 ბორბლიანი ამფიბიური ჯავშანტრანსპორტიორი (APC), რომელიც შექმნილია საბჭოთა კავშირში. იგი მიღებულ იქნა 1985 წელს და შეცვალა საბჭოთა არმიის წინა მანქანები, BTR-60 და BTR-70.[5] იგი პირველად განლაგდა საბჭოთა-ავღანეთის ომის დროს. BTR-80 დაფუძნებულია BTR-70 APC-ზე, რომელიც თავად იყო დაფუძნებული BTR-60-ზე. მას აქვს ერთი 260 ცხენის ძალის მქონე V-8 ტურბო დატენვის წყალგაციებული დიზელის ძრავა, რაც გაუმჯობესებულია BTR-60 და BTR-70 მანქანებში დაყენებულ ორ ბენზინის ძრავებთან შედარებით. კორპუსის განახლებული უკანა ნაწილი იტევს ახალ, ერთ ძრავს. საბჭოელებმა მოდიფიცირებულ BTR-70-ს სახურავის ფანჯრები მოხსნეს, უკანა ნაწილი ასწიეს და უკანა დახრილი ძრავის განყოფილება მოაწყვეს.

სტანდარტული აღჭურვილობა მოიცავს TNPO ხედვის ბლოკებს, TNP-B და TKN-3 ოპტიკურ მოწყობილობებს მძღოლისთვის და მეთაურისთვის, OU-3GA2M ინფრაწითელი საძიებო შუქი, ექვსი 81 მმ კვამლის ყუმბარმტყორცნი 902V "Tucha", რადიოკომპანია (R-173 ან R- 163-50U), ინტერკომი და ჰიდროჯეტები ამფიბიური ძრავისთვის.`,
      'mt-lb': `MT-LB (რუს. Многоцелевой Тягач Легкий Бронированный, რომანიზებული: Mnogotselevoy tyagach legky bronirovanny, სიტყვასიტყვით "მრავალ დანიშნულების საბუქსირე მანქანა მსუბუქი ჯავშანტექნიკა") არის საბჭოთა მრავალ დანიშნულების, სრულად ამფიბიური, თვალყურის დევნება ჯავშანტექნიკა79. იგი ასევე იწარმოებოდა პოლონეთში, სადაც (დაწყებული 1990-იანი წლების შუა ხანებიდან) მისი YaMZ ძრავა შეიცვალა პოლონური 6-ცილინდრიანი SW 680 დიზელის ძრავით.`,
      't-64': `T-64 — შეიარაღებაში მიიღეს 1960 წლის ბოლოს, ეს იყო ძირითადი საბრძოლო ტანკების ახალი ოჯახის წარმომადგენელი საბჭოთა კავშირში, მისი მიზანი იყო ჩაენაცვლებინა მოძველებული T-54/55 და T-62. ეს ტანკი გამოირჩეოდა ინოვაციურობით მასზე დაყენებული იყო: მსოფლიოში პირველი ავტო-დამტენი და ახალი ტიპის ჯავშანი

ისტორია

T-64 სწავლებაზე
შექმნის ისტორია
1950 წლის დასაწყისში საბჭოთა კონსტრუქტორებმა დაიწყეს ფიქრი სრულიად ახალი ტანკის შექმნაზე, ამ დროს კი საბჭოთა არმიას სჭირდებოდა რადიკალურად ახალი ტანკი რომელიც ბევრად აჯობებდა ამერიკულ/ევროპულ ტანკებს. მასზე მუშაობა კი დაიწყო ხარკოვის ქარხანამ ხოლო 1958 წელს გამოიცადა მისი პირველი ექსპერიმენტატული ვარიანტი ობიექტ-430 რომელსაც ჰქონდა თავიდან 100მმ ქვემეხი ხოლო შემდგომში 122მმ მას ასევე ჰქონდა 120მმ შუბლა ჯავშანი ხოლო შემდგომში კი 160მმ, მასში ასევე გამოყენებული იყო ძალიან ბევრი დეტალი T-54/55 - დან. მისი მეორე ექსპერიმენტული ვარიანტი ობიექტ 432-ს ჰქონდა ახალი 115მმ ქვემეხი ასევე დამონტაჟებული იყო ავტო დამტენი რომელიც მის ეკიპაჟს სამ კაცამდე ამცირებდა ამის გამო კი მისი წონა 36 ტონა გახდა როცა ობიექტ 430 30 ტონა იყო ასევე დაუყენეს ახალი ჯავშანი გაუძლიერეს ძრავა და გაუხადეს 700 ცხენის ძალიანი რომელმაც გახადა ბევრად მანევრული,ეს კი უკვე ჯობდა მოწინააღმდეგის ტანკებს რომელსაც ჰქონდა 105მმ ქვემეხი და ბევრად სუსტი ჯავშანი, სწორედ ეს ვერსია მიიღეს შეიარაღებაში.`,
      't-72': `Т-72 „ურალი“ — ძირითადი საბრძოლო ტანკი, შექმნილი სსრკ-ში. მეორე თაობის ყველაზე მასიური ძირითადი საბრძოლო ტანკი. შედიოდა სსრკს შეიარაღებაში 1973 წელს. Т-72 შექმნილია Уралвагонзавод-ის მიერ ქვემო ტაგილში. T-72 შედის დსთ-ს ქვეყნების შეიარაღებაში, ვარშავის შეთანხმებით ექსპორტირდებოდა ფინეთში, ინდოეთში, ერაყში და სირიაში. Т-72-ის მოდიფიკაციები გამოდიოდა იუგოსლავიის (M-84), პოლონეთის, ჩეხოსლოვაკიისა და ინდოეთის (აჯეია) ლიცენზიებით, რომლებიც ამ მოდიფიკაციებსაც უკეთებდნენ ექსპორტირებას.

შექმნის მიზეზი
1940-50 წლებისთვის საბჭოთა სატანკო ნაწილებს არ ჰყავდათ ერთი სტანდარტული ტანკი რომელიც მთლიანად შეიარაღებული იქნებოდა რომელიმე ნაწილი. ისინი შეიარაღებულნი იყვნენ როგორც მსუბუქი ისევე საშუალო და მძიმე ტანკებით. ამას კი თავისი პრობლემები ჰქონდა ჭურვების მომარაგებაში ბრძოლის დროს, სწორედ ეს იყო მიზეზი რომ შეექმნათ ერთი სტანდარტული ტანკი რომლითაც უმეტესი ჯავშანსატანკო ნაწილები იქნებოდნენ შეიარაღებულები. ამის განხორციელება კი დაევალა ალექსანდრ მოროზოვს რომელმაც დიდი ხნის განმავლობაში გამოუშვა რამდენიმე Т-72 - ის ვერსია, თუმცა შეიარაღებაში ის 1971 წელს მიიღეს.`,
      't-80': `Т-80 - სსრკ-ს წარმოების ძირითადი საბრძოლო ტანკი. მსოფლიოში პირველი საშუალო ტანკი საერთო გაზოტურბინიანი გამაძლიერებლით. ტანკი შედიოდა სსრკ-ს შეიარაღებაში 1976 წელს. T-64-ზე დაყრდნობით ნიმუშების პირველი სერია შეიქმნა კიროვსკის ქარხანაში, ლენინგრადში. ტანკი რუსეთის გარდა შედის შემდეგი ქვეყნების შეიარაღებაში: უკრაინა, ბელარუსი, სამხრეთი კორეა, კვიპროსი და პაკისტანი. მისი მოდიფიკაცია, T-84 დღესდღეობით გამოდის უკრაინაში.`,
    };

    // Function to update text based on selected tank
    function updateText() {
      console.log('Radio button changed');
      const selectedTank = document.querySelector('input[name="btn"]:checked').value;
      console.log('Selected tank:', selectedTank);
      infoContainer.textContent = tankText[selectedTank];
      console.log('Updated text:', infoContainer.textContent);
    }

    // Event listener for radio button changes
    options.forEach(option => {
      option.addEventListener('change', updateText);
    });

    // Initial update
    updateText();
  });
</script>
