{{#> views/layouts/main}}
<link rel="stylesheet" href="/assets/css/info.css">
  <main class="container-fluid main">
  <h1>პროექტის შესახებ</h1>
  <br>
        <div class="split">
            <section class="infoContainer" id="infoContent">
                <h2>გასათვალისწინებელია რომ...</h2>
                <p>
                    ეს აპლიკაცია წარმოადგენს ტექნოლოგიის საბაზისო ეტაპს. იმისთვის, რომ ეს პროგრამა პრაქტიკულად გამოსადეგარი იყოს საჭიროა ადეკვატური მონაცემთა ნაკრების მიწოდება, რომლის დამზადების რესურსი გააჩნია მხოლოდ სატანკო და დაზვერვის ქვედანაყოფებს.
                    აპლიკაცია ემსახურება 2024 წლის "ხელოვნური ინტელექტი სამხედრო დაზვერვაში"  საბაკალავრო ნაშრომს და ის ამ ეტაპზე შექმნილია სადემონსტრაციო  მიზნებისთვის. ამ ტექნოლოგიის განვითარება არის შესაძლებელი
                    თუმცა საკამო რესურსებს, დროს და ხარჯებს მოითხოვს. თანამედროვე სამყაროში მოწინავე ქვეყნების შეიარაღებულ ძალებს გააჩნიათ ეს ტექნოლოგია თავიანთ აპარატურაზე,
                    რომელსაც ისინი სხვადასხვა მიზნებისთვის იყენებენ. მე ვფიქრობ, რომ ჩვენი თავდაცვის ძალებიც ჩამოაყალიბებს ამ ტექნოლოგიას ახლო მომავალში.
                    აპლიკაციის სიზუსტე არის დამოკიდებული ფოტოების რაოდენობაზე, შესაბამისად არასწორი შედეგი გამომდინარეობს ფოტოსურათების ნაკლებობისგან მონაცემთა ნაკრებში.
                </p>
            </section>
           
             <section class="infoContainer" id="infoContent">
                <h2>მუშაობის პრინციპი</h2>
                <p>
                    ეს ტექნოლოგია იყენებს ხელოვნურ ინტელექტს, კერძოდ ობიექტის აღმოჩენის ალგორითმს,
                    რომ აღმოაჩინოს და მონიშნოს ,კონკრეტული ნივთი, რომლისთვისაც სერვერი არის "გაწვრთნვილი"
                    რომ აღმოაჩინოს. გაწვრთვნა ან სწავლებაში იგულისხმება ობიექტების ათასობით სურათების  და მათი პიქსელების 
                    კავშირების ჩამახსოვრება სერვერის მეხსიერებაში, რათა შემდგომ მოხდეს მისი აღმოჩენა. ეს ტექნოლოგია იყენებს 
                    YOLOv8 ალგორითმს, რომელიც არის გათვლილი სამხედრო და მოძრავ ობიექტებზე, შესაბამისად საუკეთესო შედეგს გვაძლევს
                    აპლიკაცია იყენებს python-ს კონკრეტულად ხელოვნური ინტელექტის ნაწილისთვის, ხოლო javascript-ს ვიყენებთ desktop აპლიკაციის გასამართად.
                    ასევე გამოყენებულ ტექნოლოგიებში და ბიბლიოთეკებში შედის: MongoDB, handlebars, socketIO, OpenCV, SCSS და ffmpeg.
                </p>
            </section>
        </div>
        <br>
<footer>
<h2>მესამე კურსის იუნკერი მათე აგულაშვილი</h2>
<h4>დავით აღმაშენებლის სახელობის ეროვნული თავდაცვის აკადემია</h4>
</footer>
<img src="/assets/images/logo.png" alt="" width="100px" height="100px">
  </main>
       {{!-- button color --}}
    <script>
function changeActive() {
    // Remove "active" class from all elements with the class "active"
    var activeElements = document.getElementsByClassName("active");
    for (var i = 0; i < activeElements.length; i++) {
        activeElements[i].classList.remove("active");
    }
    // Add "active" class to the element with the ID "results"
    var infoElement = document.getElementById("info");
    infoElement.classList.add("active");
}
window.onload = changeActive;
    </script>
{{/views/layouts/main}}