{{#> views/layouts/main}}
  <main class="container-fluid main">
    <div class="row">
      <!-- Loop through the imageUrls array and display each image -->
        <div class="gallery">
      {{#each imageUrls}}
          <img src="{{this}}" class="img-fluid wide" width="800" height="600" alt="Image">
      {{/each}}
        </div>
    </div>
  </main>
{{/views/layouts/main}}