<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCV Stream</title>
</head>
<body>
    <img id="image">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        const socket = io('http://127.0.0.1');
        socket.on('imageData', (data) => {
            const stream = document.getElementById('image');
            stream.src = `data:image/jpeg;base64,${data}`;
        });
    </script>
</body>
</html>
